.vscode/
.nyc_output/
_book/
api-metadata/
docs/
src/
test/
lib/tsconfig.tsbuildinfo
lib/**/*.d.ts
lib/**/*.d.ts.map
!lib/index.d.ts
*.yml
book.json
api-extractor.json
tslint.json
.editorcongig
